### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
### Android / Gradle ###
*.iml
.gradle/
/local.properties
/build/
app/build/
captures/
.cxx/
*.jks
*.keystore
!debug.keystore
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/libraries/
.idea/modules.xml
.idea/runConfigurations.xml
.idea/caches/
.idea/navEditor.xml
.idea/assetWizardSettings.xml
local.properties.bak
